.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

/* SpeedDial */

.buttonPrint {
  display: flex;
  align-items: center;
}

@media print {
  .ShareSpeedDial {
    display: none;
  }

  .main {
    display: grid !important;
  }

}