.resumeDate {
  height: 100vh;
  background-color: var(--secondary-glow);
  flex-grow: 6;
  padding: 2rem;
  overflow: scroll;
}

@media print {
  .resumeDate {
    height: auto;
    width: 100%;
    background-color: rgb(var(--background-start-rgb));
    overflow: hidden;
    /* grid-row: 1 / 4 !important; */
    order: 2;
  }

}